.logoDiv {
    position: absolute; 
    display: flex;
    position: fixed; /* Ensure the navbar stays fixed on scroll */
    top: 0;
    left: 0;
    background-color: white; /* Matches your design */
    padding: 10px 20px; /* Adjust padding as needed */
    display: flex;
    align-items: center;
    z-index: 2; /* Keeps the logo above other content */
}

.logoDiv img {
    max-width: 100px; /* Adjust the logo size as needed */
}

.innerLogo {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:24px;
    background-color: black;
    color:gold;
    border-radius: 18px;
    padding:11px;
}

.innerLogo:hover {
    background-color: rgb(77, 183, 77);
    color:black;
}