/* Style for the overall navbar */
.navbar {
  display: flex;
  position: fixed; /* Ensure the navbar stays fixed on scroll */
  top: 1;
  left: 50%; /* Move to the middle of the screen */
  transform: translateX(-50%); /* Adjust the position to truly center */
  justify-content:left; /* Center the content horizontally */
  align-items: center; /* Align content vertically */  
  padding: 1px 20px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  z-index: 1000; /* Ensure the navbar stays on top of other content */
  width: auto; /* Allow the navbar to adjust based on the content */
  /* margin-bottom: 20px; */
}

/* Center section: Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Space between the navigation links */
  margin: 0;
  padding: 0;
}

.nav-links li {
  font-weight: bold;
  cursor: pointer;
  font-size: 17px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

.nav-links li a:hover {
  color: #007bff; /* Add a nice hover color */
}

