#root {
  /* max-width: 1500px;     */
  width: 100%;            /* Ensures it can stretch to the available width */
  margin: 0 auto;         /* Centers the content horizontally */
  padding: 2rem;          /* Adds padding inside the root container */
}

.navHeaderDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;            /* Ensures the flex container stretches fully */
  align-items: center;     /* Aligns header and navbar vertically */
}

.nav-container {
  margin-top: 40px;
  display: flex; /* If using flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-start; /* Align items to the top */
  min-height: auto; /* Full height of the viewport */
  width: 100%;
}

 

.navbar, .header {
  flex-shrink: 0; /* Prevents shrinking of the items */
}

.navHeaderDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}