#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-container {
  display: flex; /* If using flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-start; /* Align items to the top */
  min-height: 100vh; /* Full height of the viewport */
}
